body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ff9800;
}

.navbar .logo img {
    height: auto;
    width: 150px;
}

.all-links {
    list-style: none;
    display: flex;
}

.all-links li {
    margin-left: 20px;
}

.directory {
    padding: 20px;
}

.institution-card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.institution-card img {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff9800;
}
